body{
    background: greenyellow;
}
h1{
    padding: 15px;
    font-size:30px ;
}
li{
  list-style: none;
    display: inline;
            
  
}
ul{
    margin:0 ;
    word-spacing: 10px;
  
}